/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

#app{
 margin-top: 100px;
}

.is-content-end{
  justify-content: end;
}

.vh-80{
  height: 80vh;
}

.mt-250{
  margin-top: 250px;
}

.vh-85{
  height: 85vh;
}

.vh-90{
  height: 90vh;
}

.m-fit-content{
  max-width: fit-content;
}

.m-rounded-left{
  border-radius: 0,1,1,0;
}

.m-rounded-bottom{
  border-radius: 0px 0px 7px 7px !important;
}

.m-h-70{
 height: 70px;
}

.dropdown-toggle::after{
  content: none;
}

.m-mt-content{
  margin-top: 120px;
}

.card-img-top-side {
  object-fit: cover; /* Memastikan gambar tetap proporsional */
  height: 150px; /* Tinggi yang diinginkan untuk card */
}

.side-card {
  height: fit-content; /* Tinggi yang diinginkan untuk card */
  overflow: hidden; /* Mengatasi jika gambar melebihi tinggi card */
}

.text-justify {
  text-align: justify;
}

.toast {
  position: fixed;
  /* top: 10px; */
  right: 10px;
  z-index: 1000;
  display: none;
}

.toast.show {
  display: block;
}

.card-text {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.invalid-input { 
  font-size: 10px;
  color: crimson;
}

.is-clickable{
  cursor: pointer;
}

.is-disabled{
  opacity: 0.5;
  cursor: not-allowed !important; 
  pointer-events: none;
}

.image-placeholder{
  height: 150px;
}

.all-center{
  display: flex;
  align-items: center;
  justify-content: center
}

.vertical-center{
  display: flex;
  align-items: center;
}

.mobile-fs{
  font-size: 12px;
}

.mobile-btn{
  height: 30px;
  font-size: 12px;
}

